[submodule "RL/CC2-Cardiff-implementation/RL/CC2-Cardiff-implementation/-cyborg-cage-2"]
	path = RL/CC2-Cardiff-implementation/RL/CC2-Cardiff-implementation/-cyborg-cage-2
	url = https://github.com/john-cardiff/-cyborg-cage-2.git
[submodule "MARL/cage-challenge-4"]
	path = MARL/cage-challenge-4
	url = https://github.com/cage-challenge/cage-challenge-4.git
[submodule "RL/CC2-Mindrake-implementation/cage-challenge-2-public"]
	path = RL/CC2-Mindrake-implementation/cage-challenge-2-public
	url = https://github.com/alan-turing-institute/cage-challenge-2-public.git
